body {
width: 1440px;
height: 6337px;

background: #16171C;
}

.header {
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(270deg, rgba(24, 15, 1, 0.5) 0%, rgba(33, 24, 10, 0.5) 50.98%, rgba(132, 81, 20, 0.355) 100%);
    border-radius: 0px 0px 10px 10px;
}

.name {
    width: 195px;
    height: 50px;
    left: 100px;
    top: 25px;
    
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    /* or 62% */
    
    letter-spacing: 0.05em;
    
    /* Orang */
    
    color: #CE760B;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 502px;
    height: 24px;
    left: 469px;
    top: 38px;
}
