.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    /* color: #FFFEEB; */
}

.menu-link:hover,
.menu-link:focus {
    color: #CE760B;
}

.contact-phone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.05em;
    /* color: #FFFEEB; */
}

.contact-phone:hover,
.contact-phone:focus {
    color: #CE760B;
}

.main-color {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-size: 120px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #FFFCB8;
}

.main-color-two {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-size: 120px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #16171C;
}

.main-avtor {

}

.avtor-color {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFCB8;
}
.avtor-color-two {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #16171C;
}

.user {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-size: 24px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #CE760B;
}
.info {
    font-family: 'Jura';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #FFFEEB;
}

.work {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #CE760B;

    }